* {
  direction: rtl;
}

@media(min-width:600px){
    .top-navbar {
        box-shadow: 0 0 50px gray !important;
    }

    #top-action-section{
        display: flex !important;
        align-items: center !important;

    }
}



.user-list-item.active .user-list-arrow-icon {
    transform: rotate(180deg);
}

.user-list-item.active {
    background-color: rgba(235, 235, 235, 0.87);
}

table.highlight > tbody > tr:hover {
    background-color: #bbdefb;
  }

  .container {
    width: 100% !important;
  }

  .add-user-model-back {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 999;
  }

  .add-user-model {
    position: fixed;
    height: 70vh;
    background-color: white;
    bottom: 0px;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: -70vh;
  }
  .add-user-model.show {
    box-shadow: 0 0 10px rgba(100, 104, 109, 0.233);
    bottom: 0;
  }

  .sidenav-link-icon {
    margin: 0 0 0 25px !important;
  }